<section id="besties_main_section">
    <article id="besties_title">
        <h1>Crea les besties!</h1>
    </article>
    <article id="bestia_create_bestia">
        <div id="besties_avatar">
            <table id="table_besties_avatars">
                <tr>
                    <td>Avatar:</td><td>
                        <select ng-model="avatar" ng-change="tipus_bestia()">
                            <option value="Avatar_Abominacio.jpg">Abominació</option>
                            <option value="Avatar_Golem_Magma.jpg">Golem de Magma</option>
                            <option value="Avatar_Home_Llop.jpg">Home Llop</option>
                            <option value="Avatar_Orc_Guerrer.jpg">Orc Guerrer</option>
                            <option value="Avatar_Orc_Mag.jpg">Orc Mac</option>
                            <option value="Avatar_Orc_Rang.jpg">Orc Rager</option>
                        </select>
                    </td><td><img src="/dist/images/beast/img/{{avatar}}" width="200px" height="200px" ng-init="avatar='Avatar_Abominacio.jpg'"></td>
                    <td>
                <table>
                    <tr>
                    <td>Nom bestia:</td><td><input type="text" ng-model="nom"></td>
                    </tr>
                    <tr>
                        <td>Vida:</td><td><input type="text" value=5 size="5" ng-model="live"></td>
                    </tr>
                    <tr>
                        <td>Força:</td><td><input type="text" value=5 size="5" ng-model="force"></td>
                    </tr>
                    <tr>
                        <td>Agilitat:</td><td><input type="text" value=2 size="5" ng-model="agility"></td>
                    </tr>
                    <tr>
                        <td>Defensa:</td><td><input type="text" value=5 size="5" ng-model="defense"></td>
                    </tr> 
                </table>
                    </td> 
                </tr>
                <tr ng-repeat="resp in response['data']">
                    <td colspan="2">{{resp['nom']}} </td><td><p ng-click="eliminarBestia()">eliminar</p></td>
            </tr>
        </table>
            
        </div>
        
    </article>
    <article id="besties_list">

    </article>
</section>