<section id="main">
    <article id="combat_art_torns">
        <div id="combat_shift_list">
            <div class="combat__shift_list_player">Xavi</div>
            <div class="combat__shift_list_player">Enric</div>
            <div class="combat__shift_list_player">Lu</div>
            <div class="combat__shift_list_player">Albert</div>
            <div class="combat__shift_list_player">Monteskier</div>
            <div class="combat__shift_list_player">Fragmen</div>
            <div class="combat__shift_list_player">Xavi</div>
            <div class="combat__shift_list_player">Enric</div>
        </div>
    </article>
    <article id="combat_art_taulell">
        <div id="combat_taulell">

        </div>
        <div id="combat_personal_info">
            <article id="combat_pers_info_foto">
                <h3 id="combat_personal_info_pj_name">Fragmen</h3>
                <div id="combat_pers_info_avatar"></div>
            </article>
            <article id="combat_pers_info_atributs">
                <div class="combat_pers_info_atributs">HP: 15/23</div>
                <div class="combat_pers_info_atributs">DDG: 1d12+2</div>
                <div class="combat_pers_info_atributs">ARMOR: 16</div>
            </article>
            <article id="combat_pers_info_action_menu">
                <div class="combat_pers_info_action_menu_button">Atacar</div>
                <div class="combat_pers_info_action_menu_button">Mover</div>
                <div class="combat_pers_info_action_menu_button">Habilidades</div>
                <div class="combat_pers_info_action_menu_button">Pasar</div>        
            </article>
        </div>

    </article>
    <article id="combat_art_info">
        <article id="combat_art_info_group">
            <div class="combat_art_info_group_player">
                <div class="combat_art_info_group_player_foto">
                    <h3 class="combat_art_info_group_player_foto_pj_name">Monteskier</h3>
                    <div class="combat_art_info_group_player_foto_avatar"></div>
                </div>
                <div class="combat_art_info_group_player_atributs">
                    <div class="combat_art_info_group_player_atribut">HP: 10/18</div>
                    <div class="combat_art_info_group_player_atribut">ARMOR: 15</div>
                </div>
            </div>
            <div class="combat_art_info_group_player">
                <div class="combat_art_info_group_player_foto">
                    <h3 class="combat_art_info_group_player_foto_pj_name">Lu</h3>
                    <div class="combat_art_info_group_player_foto_avatar"></div>
                </div>
                <div class="combat_art_info_group_player_atributs">
                    <div class="combat_art_info_group_player_atribut">HP: 10/18</div>
                    <div class="combat_art_info_group_player_atribut">ARMOR: 15</div>
                </div>
            </div>
            <div class="combat_art_info_group_player">
                <div class="combat_art_info_group_player_foto">
                    <h3 class="combat_art_info_group_player_foto_pj_name">Albert</h3>
                    <div class="combat_art_info_group_player_foto_avatar"></div>
                </div>
                <div class="combat_art_info_group_player_atributs">
                    <div class="combat_art_info_group_player_atribut">HP: 10/18</div>
                    <div class="combat_art_info_group_player_atribut">ARMOR: 15</div>
                </div>
            </div>
            <div class="combat_art_info_group_player">
                <div class="combat_art_info_group_player_foto">
                    <h3 class="combat_art_info_group_player_foto_pj_name">Enric</h3>
                    <div class="combat_art_info_group_player_foto_avatar"></div>
                </div>
                <div class="combat_art_info_group_player_atributs">
                    <div class="combat_art_info_group_player_atribut">HP: 10/18</div>
                    <div class="combat_art_info_group_player_atribut">ARMOR: 15</div>
                </div>
            </div>
            <div class="combat_art_info_group_player">
                <div class="combat_art_info_group_player_foto">
                    <h3 class="combat_art_info_group_player_foto_pj_name">Xavi</h3>
                    <div class="combat_art_info_group_player_foto_avatar"></div>
                </div>
                <div class="combat_art_info_group_player_atributs">
                    <div class="combat_art_info_group_player_atribut">HP: 10/18</div>
                    <div class="combat_art_info_group_player_atribut">ARMOR: 15</div>
                </div>
            </div>
        </article>
        <article id="combat_art_info_log">
            <h4>Combat Log</h4>
        </article>
    </article>
</section>
