<section id="sec_editor">
	<table>

		<caption>Menu de Creacdió de partides</caption>
			<tr>
				<td>Nom del la Partida:</td><td><input name="nom" id="nom" ng-model="nom"/></td>
			</tr>
			<tr>
				<td>Password</td><td><input type="password" name="pass" id="pass" ng-model="pass"></td>
			</tr>
			<tr>
				<td>Total del personatges:</td><td><input type="text" id="maxper" name="maxper" ng-model="maxper"></td>
			</tr>
			<tr>
				<td>Idioma:</td>
					<td>
						<select ng-model="idioma" id="idioma" name="idioma" ng-model="idioma">
							<option value="cat">català</option>
							<option value="cat">english</option>
						</select>
					</td>
			</tr>
			<tr>
				<td><input type="button" ng-click="save()"  value="Guardar"></td>
			</tr>
			
	</table>
	<!-- Aqui carregarem la llista de partides que te aquest senyor com a Master-->
	<table class="banqueta">
		<caption>Llista de partides creades:</caption>
		<tr>
			<td>Nom</td><td>Maxim de personatges</td><td>Online</td>
			
		</tr>
		<tr ng-repeat="partida in partides['data']">
			<td>{{partida.nom}}</td> <td>{{partida.maxper}}</td><td ng-click="online(partida.nom,partida.online)" ng-style="styleOnline">{{partida.online}}</td>
		</tr>
		
	</table>
	
</section>
