<section id="party_list_section">
    <table id="party_parties_list">
        <tr align="center">
            <td>Nom</td><td>Jugadors</td><td>Idioma</td><td>Master</td>
        </tr> 
        <tr ng-repeat="resp in response['data'] | filter:filtre">
            <td> {{resp.nom}}</td><td>{{resp.cua}}/{{resp.maxper}}</td><td>{{resp.online}}</td><td>{{resp.master}}</td><td><button ng-click="joinParty(resp.nom,resp.pass)" id="join">JOIN</button></td>	
        </tr>
    </table>
    <article id="party_artic_filter">
        <div class="party_div_article_filter">
            <div id="party_article_filter_title"><h2>Filter</h2></div>
            <div id="party_artic_filter_input">
            Nom
            <input type="text" size="10" ng-model="filtre">
            </div>
        </div>
        <div class="party_div_article_filter">
            <button id="join">JOIN</button>
        </div>               
    </article>
</section>