<section id="party_list_section">
    <table id="party_parties_list">
        <tr align="center">
            <td>Nom</td><td>Jugadors</td><td>Idioma</td><td>Master</td>
        </tr> 
        <tr ng-repeat="resp in response['data']">
            <td> {{resp.nom}}</td><td>{{resp.cua}}/{{resp.maxper}}</td><td>{{resp.online}}</td><td>{{resp.master}}</td><td><button ng-click="joinParty(resp.nom,resp.pass)" id="join">JOIN</button></td>	
        </tr>
    </table>
    <article id="party_artic_filter">
        <div class="party_div_article_filter">
            <table id="party_filters_list">
                <tr>
                    <td>Nom</td>
                    <td><input type="text" size="8"></td>
                </tr>
                <tr>
                    <td>Not full</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Not empty</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Not password</td>
                    <td><input type="checkbox"></td>
                </tr>
            </table>
        </div>
        <div class="party_div_article_filter">
            <button id="join">JOIN</button>
        </div>               
    </article>
</section>