<section id="main">
    <article id="container_players">
        <div id="top"></div>
        <div id="players_list">
            <div class="player"  ng-repeat="resp in response['herois']">
            <div class="info">
                <p class="name">{{resp.nom}}</p>
                <img class="avatar" src="/dist/images/heroes/{{resp.avatar}}">
            </div>
            <div class="atri">
                <div class="atri_div">
                    <p class="cons">{{resp.live}}</p>
                    <p class="fuer">{{resp.force}}</p>
                    <p class="agil">{{resp.agility}}</p>
                </div>

                <div class="atri_div">
                    <p class="hp">HP: 29</p>
                    <p class="dmg">DMG: +2</p>
                    <p class="mov">MOV: 5</p>
                </div>
                <div class="atri_div">
                    <p class="dmg_s">DDG: 1d8</p>
                    <p class="armor">ARMOR: 16</p>
                </div>
                <div class="atri_div" class="div_color">
                    <div class="color_2"></div>
                </div>
            </div>
        </div>
    </div>
        <div id="bottom"></div>
    </article>
    <article id="calendar_ready">
        <div id="calendar"></div>
        <div id="buton_listo">
            <button id="ready_button">Ready</button>
        </div>
    </article>
</section>
