<section id="map_main_section">
    <article id="map_title">
        <div id="map_title_text">
            <h1>Menu de creació de mapes</h1>
        </div>
    </article>
    <article id="map_form">
        <div id="map_form_inputs">
            <table>
                <tr>
                    <td>Nom del Mapa :</td><td><input type="text" ng-model="mapName"></td>
                    {{response["status"]}}
                    {{response["msg"]}}
                </tr>
                <tr>
                    <td>Columnes "caselles"</td>
                    <td>
                        <select ng-model="col">
                            <option value=10>10</option>
                            <option value=15>15</option>
                            <option value=20>20</option>
                        </select>

                    </td>               
                </tr>
                <tr>     
                    <td>Files "caselles"</td>
                    <td>
                        <select ng-model="fil">
                            <option value=10>10</option>
                            <option value=15>15</option>
                            <option value=20>20</option>       
                        </select> 
                    </td>  
                </tr>
                <tr>
                    <td>Background : </td>
                    <td>
                        <select  ng-model="background" ng-change="canvasReady()">
                            <option value="forest.jpg" selected="selected">Forest</option>
                            <option value="desert.jpg">Desert</option>
                            <option value="dungeon.jpg">Dungeon</option>

                        </select>
                    </td>
                </tr>
             </table>
            <div id="map_form_inputs_buttons">
                <input type="button" value="Previsualitzar" ng-click="canvasReady()">
                <input type="button" ng-click="saveMap()" value="Guardar Mapa">
            </div>
           
        </div>
        <div id="map_form_prev">
            <img src="/dist/images/backgrounds/{{background}}" width="200px" height="200px" ng-init="background='forest.jpg'"></img>
        </div>
    </article>
    <article id="map_taulell">
        <section class="taules" ng-init="canvasReady()">
            <canvas id="myCanvas" width="500" height="500" style="border:1px solid #000000;" ng-style="{'background-image':'url(/dist/images/backgrounds/{{fons}})'}"></canvas>
        </section>
        
    </article>
</section>

