<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/party_view.css" rel="stylesheet" type="text/css"/>
        <link href="../css/common.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header class="header">
            <article class="article_heder"></article>
            <article class="article_heder" id="article_menu">
                <img src="../img/logo.png" class="logo" alt="logo Horror Warriors">
            </article>
            <article class="article_heder">
                <button id="menu_button">Menu</button>
            </article>s
        </header>
        <section id="players">
            <article id="container_players">
                <div id="top"></div>
                <div id="players_list">
                <div class="player">
                    <div class="info">
                        <p class="name"></p>
                        <img class="avatar" src="#">
                    </div>
                    <div class="atri">
                        <div class="atri_div">
                            <p class="cons"></p>
                            <p class="fuer"></p>
                            <p class="agil"></p>
                        </div>
                        <div class="atri_div">
                            <p class="def"></p>
                            <p class="dmg"></p>
                            <p class="mov"></p>
                        </div>
                        <div class="atri_div">
                            <p class="dmg_s"></p>
                            <p class="armor"></p>
                        </div>
                        <div class="atri_div" id="div_color">
                            <div class="color"></div>
                        </div>
                    </div>
                </div>
                <div class="player">
                    <div class="info">
                        <p class="name">Fragmen</p>
                        <img class="avatar" src="../img/cara_guerrero.png">
                    </div>
                    <div class="atri">
                        <div class="atri_div">
                            <p class="cons">CON: 18</p>
                            <p class="fuer">FUE: 15</p>
                            <p class="agil">AGI: 12</p>
                        </div>

                        <div class="atri_div">
                            <p class="hp">HP: 29</p>
                            <p class="dmg">DMG: +2</p>
                            <p class="mov">MOV: 5</p>
                        </div>
                        <div class="atri_div">
                            <p class="dmg_s">DDG: 1d8</p>
                            <p class="armor">ARMOR: 16</p>
                        </div>
                        <div class="atri_div" id="div_color">
                            <div id="color_2"></div>
                        </div>
                    </div>
                </div>
                <div class="player">
                    <div class="info">
                        <p class="name"></p>
                        <img class="avatar" src="#">
                    </div>
                    <div class="atri">
                        <div class="atri_div">
                            <p class="cons"></p>
                            <p class="fuer"></p>
                            <p class="agil"></p>
                        </div>
                        <div class="atri_div">
                            <p class="def"></p>
                            <p class="dmg"></p>
                            <p class="mov"></p>
                        </div>
                        <div class="atri_div">
                            <p class="dmg_s"></p>
                            <p class="armor"></p>
                        </div>
                        <div class="atri_div" id="div_color">
                            <div class="color"></div>
                        </div>
                    </div>
                </div>
            </div>
                <div id="bottom"></div>
            </article>
            <article id="calendar_ready">
                <div id="calendar"></div>
                <div id="buton_listo">
                    <button id="ready_button">Ready</button>
                </div>
            </article>
            
        </section>
    </body>
</html>
