


/*monu provisional*/

#navcontainer ul{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
padding-top:1em;
}
#navcontainer ul li { display: inline; margin-left:2em; }
#navcontainer ul li a{
        text-decoration: none;
        padding: .2em 1em;
        color: #fff;
        background-color: #603;
}
#navcontainer ul li a:hover{
        color: #fff;
        background-color: #369;
}
             
/*Section*/


#party_list_artic_filter{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;

    -webkit-justify-content:  flex-start;
    -moz-flex-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    
    -webkit-flex-wrap: wrap;
    -moz-flex-flex-wrap: wrap;
    justify-flex-wrap: wrap;
    
    -webkit-flex-direction: column;
    -moz-flex-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    
    margin-left: 50px;
}
#party_list_filters_list{
    width: 300px;
    height: 250px;
    color: white; 
}

.part_list_div_article_filter{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;

    -webkit-justify-content: center;
    -moz-flex-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-align-items: center;
    align-items: center;

    height: 250px;
    width: 300px;
}




table{
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 10px 10px 5px black;
}
button{
    border-radius: 5px;
    padding: 5px;
    background-color: #006699;
/*    box-shadow: 3px 3px 3px rgba(0,0,0,0.6) inset;*/
}
#join{
    height: 30px;
    width: 75px;
}